@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'main';
  font-style: normal;
  font-weight: normal;
  src: local('main'), url('./fonts/main.woff2') format('woff2');
}

@layer components {
  .title {
    @apply absolute w-auto p-2 m-2 min-w-max left-2 top-3 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  .done-title {
    @apply absolute w-auto p-2 m-2 min-w-max left-2 top-3 rounded-md shadow-md text-white bg-green-500 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }
}


.ReactModal__Overlay {
  opacity: 0;

  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;

}

.ReactModal__Overlay--before-close {
  opacity: 0;
}